<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/patient/home}">Dietician's Office App</a>
        <ul class="nav navbar-nav">
            <!--            <li><a th:href="@{/home}">Home</a></li>-->
            <!--                <li><a th:href="">Page 1</a></li>-->
            <!--            <li><a th:href="@{/home}">Page 1</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/registration}">Sign Up</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>
<table>
    <thead>
    <tr>
        <th> Dietician </th>
        <th> Visit date </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${visits.isEmpty()}">
        <td colspan="2"> No visits scheduled </td>
    </tr>
    <tr th:each="visit : ${visits}">
        <td><span th:text="${visit.id}"> Dietician </span></td>
        <td><span th:text="${visit.visitDate}"> Visit date </span></td>
        <td><a th:href="@{/dietician/deleteVisit/{id}(id=${visit.id})}" class="btn btn-warning" t>Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
