<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/dietician/home}">Dietician's Office App</a>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/dietician/view-visits}">View visits</a></li>
            <li><a th:href="@{/dietician/view-patients}">View patients</a></li>
            <li><a th:href="@{/dietician/send-diet}">Send diet</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/registration}">Sign Up</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>
<div class="col-md-6 col-md-offset-3">
<table class="table table-sm">
    <thead>
    <tr>
        <th class="text-center">Visit</th>
        <th class="text-center">Date</th>
        <th class="text-center">Cancel visit</th>
        <th class="text-center"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${visits.isEmpty()}">
        <td colspan="2"> No visits scheduled </td>
    </tr>
    <tr th:each="visit : ${visits}">
        <td class="text-center"><span th:text="${visit.patient.firstName} + ' ' + ${visit.patient.lastName}"> Dietician </span></td>
        <td class="text-center"><span th:text="${visit.visitDate} + ' ' + ${visit.time}"> Visit date </span></td>
        <td class="text-center"><a  th:href="@{/dietician/deleteVisit/{id}(id=${visit.id})}" class="btn btn-warning" t>Delete</a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
