<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Update data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/patient/home}">Dietician's Office App</a>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/patient/update-data}">Update data</a></li>
            <li><a th:href="@{/patient/view-visits}">View visits</a></li>
            <li><a th:href="@{/patient/set-visit}">Set visit</a></li>
            <li><a th:href="@{/patient/get-diet}">Get diet</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/registration}">Sign Up</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form th:action="@{/patient/update-data}" method="post" th:object="${patient}">
                <input id="emailAddress" th:field="*{emailAddress}" type="hidden"/>
                <div class="form-group">
                    <label class="control-label" for="weight"> Weight: </label>
                    <input id="weight" class="form-control" th:field="*{weight}"
                           required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="height"> Height: </label>
                    <input id="height" class="form-control" th:field="*{height}"
                           required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="age"> Age: </label>
                    <input id="age" class="form-control" th:field="*{age}"
                           required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label for="dietician"> Dietician: </label>
                    <select class="form-control" name="dietician" id="dietician" th:field="*{dietician}">
                        <option th:each="dietician : ${dieticians}"
                                th:value="${dietician.emailAddress}" th:text="${dietician.emailAddress}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="gender"> Gender: </label>
                    <select class="form-control" id="gender" name="gender" th:field="*{gender}">
                        <option th:each="gender : ${T(polsl.pawelwawszczak.dieticiansofficeapp.model.enums.Gender).values()}"
                                th:value="${gender}" th:text="${gender}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dietType"> Diet type: </label>
                    <select class="form-control" id="dietType" name="dietType" th:field="*{dietType}">
                        <option th:each="dietType : ${T(polsl.pawelwawszczak.dieticiansofficeapp.model.enums.DietType).values()}"
                                th:value="${dietType}" th:text="${dietType}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="psychicalActivity"> Psychical Activity: </label>
                    <select class="form-control" name="psychicalActivity" id="psychicalActivity"
                            th:field="*{psychicalActivity}">
                        <option th:each="psychicalActivity : ${T(polsl.pawelwawszczak.dieticiansofficeapp.model.enums.PsychicalActivity).values()}"
                                th:value="${psychicalActivity}" th:text="${psychicalActivity}"></option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>
