<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/patient/home}">Dietician's Office App</a>
        <ul class="nav navbar-nav">
            <!--            <li><a th:href="@{/home}">Home</a></li>-->
            <!--                <li><a th:href="">Page 1</a></li>-->
            <!--            <li><a th:href="@{/home}">Page 1</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/registration}">Sign Up</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </div>
</nav>

<br>
<br>
<h1>PATIENT</h1>
<h1>Welcome on the home page of Dietician's Office app</h1>

<form th:action="@{/patient/set-visit}" method="post" th:object="${patient}">
<!--    <input id="dietician" th:field="*{dietician}" type="hidden"/>-->
    <input id="emailAddress" th:field="*{emailAddress}" type="hidden"/>


    <div class="form-group">
        <label class="control-label" for="date"> Age: </label>
        <input type="date" id="date" class="form-control" th:field="${visit.visitDate}"
               required autofocus="autofocus" />
        <!--    </div>-->
        <!--    <div class="form-group">-->
        <!--        <label class="control-label" for="dietType"> Diet Type: </label>-->
        <!--        <input id="dietType" class="form-control" th:field="*{dietType}"-->
        <!--               required autofocus="autofocus" />-->
        <!--    </div>-->
        <div class="form-group">
            <button type="submit" class="btn btn-success">Register</button>
            <!--                    <span>Already registered? <a href="/" th:href="@{/login}">Login-->
            <!--								here</a></span>-->
        </div>
</form>


</body>
</html>
