<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Update data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/patient/home}">Dietician's Office App</a>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/patient/update-data}">Update data</a></li>
            <li><a th:href="@{/patient/view-visits}">View visits</a></li>
            <li><a th:href="@{/patient/set-visit}">Set visit</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/registration}">Sign Up</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<div class="col-md-9 col-md-offset-4">
    <h2 th:if="${message}" th:text="${message}"></h2>
</div>


</body>
</html>
